*{
  
  margin:0;
}
.header-container{

background: black;

   
    
    
    color: white;
    
   
    font-weight: 700;
    font-size: 12px;
    text-align: left;
    padding-top: 13px;
    padding-bottom: 13px;
    display: flex;
    padding-left: 20px;
}
.nav-container1{
  display: flex;
  width:616px;
  justify-content: space-between;
  margin-left:680px;
}
.center1,.right1{
  padding:10px;
}
.nav-center1{
  display: flex;
  
}
.nav-right1{
  display: flex;
}
.nav-container2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right:400px;
}
.c-menu{
  padding:10px;
}
.center-menu{
  display: flex;
}

.text-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top:130px;
  z-index: 2;
}
.sub-title1{
  text-align: center;
  
}
.logo-items{
  margin-left:20px;
}

.iphone-background img{
  position: absolute;
 width: 100%;
}
.title1{
  font-size:64px;
  line-height: .95!important;
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin-bottom:16px;
  padding-top:30px;
}

.sub-title1{
 font-family: BrandFont-Display,Helvetica,Arial,sans-serif;
 margin-bottom: 32px!important;
}

.button-shop{
  
     width: 147px!important;
font-size: 14px!important;
cursor: pointer;
    margin: 0 .625rem .625rem 0;
    border-radius: 624.9375rem;
    border: .0625rem solid;
    display: inline-block;
    vertical-align: middle;
  height: 44px;
  text-align: center;
  line-height: 44px;
 
}
.contents-container2{
  margin-top:700px;
  display: flex;
  
}
.products-infor-nav{
  display: flex;
  justify-content: flex-start;
}
.products-infor{
  width:273px;
}

.products-nav{
  font-size: 14px;
      font-weight: 700!important;
          padding: 17px 0 5px;
          padding-right:20px;
          padding-left:10px;
}

.product-title{
  font-size: 32px;
      line-height: .95!important;
          font-family: BrandFont-Display,Helvetica,Arial,sans-serif;
          
}
.product-sub{
      max-width: 278px;
          margin-bottom: 32px!important;
          padding-top:20px;
          padding-bottom:10px;
}

.shop-button{
  border:1px solid black;
  width:125px;
  height: 44px;
  text-align: center;
  line-height: 44px;
      min-width: 125px;
      border-radius: 20px;
}

.p-image-box{
  display: flex; 
  
 

}
.product-image1{
 
 margin-left:40px;
  width:100%;
display: flex;
 align-items: center;
 justify-content: center;
  padding:70px;
  background:#f6f6f6;
  height: 480px;

  
}

.product-image2{
  margin-left:40px;
  width:100%;
display: flex;
 align-items: center;
 justify-content: center;
padding:70px;
  background:#f6f6f6;
  height: 480px;

}

.contents-container2{
  margin-left:100px;
}
.video-box video{
 object-fit: cover;
    width: 100vw;
    max-width: 1440px;
        box-sizing: border-box;

}
.contents-container3{
  
}

.contents-container4{
  justify-content: space-around;
  width:100%;
   padding-top:20px;
  background: black;
  color:white;
  display: flex;
}
.top{
border-top:1px solid #747575;
width:234px;
padding:20px;
}

.Accessory{
  width:234px;
padding:20px;
border-top:1px solid #747575;
}

.About-Verizon{
width:234px;
border-top:1px solid #747575;
padding:20px;

}
.Support{
  width:234px;
border-top:1px solid #747575;
padding:20px;
}
.Most-Popular{
width:234px;
border-top:1px solid #747575;
padding:20px;
}


.title-top Accessory,.support-title,.about-title,.popular-title{
  padding-bottom:10px;
  padding-top:10px;
}
.brand-p,.sup-i,.about-i,.p-i,.sns{
  font-size:14px;
  padding-top:10px;
  padding-bottom:10px;
}


@media screen and (max-width: 1020px) {
  .nav-container1{
    display: none;
  }
  .center-menu{
    display: none;
  }
  
}

@media screen and (max-width:990px){
  .title1{
    font-size:40px;
  }
  p{
    font-size:16px;
  }
  .product-sub{
    font-size:16px;
  }
}


@media screen and (max-width:767px){
  .contents-container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f6f6f6;
  }
  .product-image2{
    display: none;
  }
  .product-image1{
    display: flex;
    align-items: center;
  }
  .product-title{
    text-align: center;
  }
  .product-sub{
    text-align: center;
  }
    .shop-button{
      margin:0  auto;
    }
}