*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
      
    background-image: url("https://esp.taiko-ch.net/images/top/bg_top.jpg");
    background-position-x: center;
    background-position-y: top;
    background-size: 100% auto;
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
   
  
}
.main-1-logo-image img{
  width:30%;
}
.main-1-logo-image{
  text-align: center;
}
.three-items{
  background:#000000;
  padding:10px;
  padding-top:20px;
  padding-left:50px;
  padding-right:50px;
  margin-right:10px;
}
.three-items img{

width:100%;
}
.three-images{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:100px;
}
.main2-image img{
  width:100%;
   
  
}
.main2-image{
  text-align: center;
  margin-top:100px;
    margin-left:40px;
  margin-right:40px;
}
.tv-images img{
  width:100%;
}
.tvs{
  display: flex;
}

.tv-images{
  margin-left:40px;
  margin-right:40px;
  margin-top:30px;
}
.main2{

    background: rgba(0, 0, 0, 0.3);

}

.title3-images{
  text-align: center;
}
.contents3{
  margin-top:100px;
}
.title3-images img{
  width:20%;
}
.contents3-images img{
  width:100%;
}
.contents3-images{
  display: flex;
  padding-top:40px;

}

.images{
  margin-left:30px;
  margin-right:30px;
}

.another-images img{
  width:100%;

}

.another-images {
 text-align: center;
  margin-top:100px;
  margin-left:30px;
  margin-right:30px;
}

@media screen and (max-width:767px){
  .tvs{
    flex-direction: column;
  }
  .contents3-images{
    flex-direction: column;
  }
  
}